@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  /* font-family: Poppins; */
  /* font-family: "Nanum Gothic", sans-serif; */
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.85rem;
}
.display-5 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
}
.display-7 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
}

.display-typing{
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.5rem;
}

.display-logo{
  font-family: "Rubik", sans-serif;
  font-size: 3.2rem;
}
.display-subtitle{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}
.display-bot{
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.display-menu{
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
}

/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
.note-popover .btn:after {
  display: none;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #66458e !important;
}
.bg-success {
  background-color: #4289a7 !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #66458e !important;
  border-color: #66458e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #2c5c70 !important;
  border-color: #2c5c70 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c5c70 !important;
  border-color: #2c5c70 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #352449;
  color: #352449 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #66458e;
  border-color: #66458e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #66458e !important;
  border-color: #66458e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #7a2820;
  color: #7a2820 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ca4336;
  border-color: #ca4336;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #254d5e;
  color: #254d5e !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #4289a7;
  border-color: #4289a7;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f5a208;
  color: #f5a208 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #614003 !important;
  background-color: #fac769;
  border-color: #fac769;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #66458e !important;
}
.text-secondary {
  color: #ca4336 !important;
}
.text-success {
  color: #4289a7 !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #352449 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #7a2820 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #254d5e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #4289a7;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #66458e;
  border-color: #66458e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: black;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a68cc7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #94c1d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #66458e;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #66458e;
  color: #232323;
  cursor: pointer;
  border-radius: 100px;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #66458e;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
/* Footer */
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}